<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>

</head>

<link rel="stylesheet" href="css/global.css" />
<link rel="stylesheet" href="css/calendar.css" />

<body>
  <div class="slide d-fl ali-cent fl-col col-white">
    <div class="banner d-fl ali-cent just-cont-cent">
      <img style="width: 22px; height: 36px; margin: 20px" src="../pictures/rocket.svg" />
      <h1 style="font-size: 55px">
        <span class="blue">to</span><span class="purple">do</span>
      </h1>
    </div>
    <!-- /////////// -->
    <div class="wrapper border-radi d-fl fl-col ali-cent">
      <header class="d-fl just-sp-betw w-80" style="width: 80%;">
        <span class="current-date"><span id="year" style="padding:10px;"></span><span id="month"></span></span>
        <span>
          <span onclick="changeMonth(false)" style="margin-right: 10px;" class="bracket-left cursor-p"></span>
          <span onclick="changeMonth(true)" class="bracket-right cursor-p" style="margin-right: 40px;"></span>
        </span>
      </header>
      <div class="calendar d-fl fl-col w-80" style="width: 85%;">
        <table class="col-white" id="calendar">
          <ul id="daysList" class="d-fl just-sp-betw list-none ali-cent fat-text">
          </ul>
        </table>
          <div id="Todo"></div>
      </div>
    </div>

    <!-- ////////// -->
  </div>
  <script src="javascripts/calendar.js">
  </script>
</body>

</html>
