body {
  font-family: "PT Sans", sans-serif;
}
.banner {
  width: 100%;
  height: 180px;
  background: #0d0d0d;
}
.bracket-left {
  font-size: 20px;
  font-weight: 900;
}
.bracket-left:before {
  content: "<";
}
.bracket-right {
  font-size: 20px;
  font-weight: 900;
}

.bracket-right::after {
  content: ">";
}
.wrapper {
  width: 700px;
  min-height: 500px;
  margin-top: 20px;
  background: #1e1f25;
}
.wrapper header {
  height: 50px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  align-items: end;
}

.today{
  background: #589C5F;
}
.click-date{
  transition: all 0.5s;
  background: #9f60a1;
}
.click-date:hover {
  opacity: 0.5;
}
.calendar-input{
  width: 200px;
  height: 30px;
  margin-right: 10px;
  border-radius: 10px;
  border: solid 1px wheat;
  background:none;
  color: wheat;
}
.calendar-input::placeholder{
  color: wheat;
}
.task-text{
  font-size: 15px;
  list-style-type: none;
}
.task-text::before{
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid wheat;
  margin-right: 10px;
  border-radius: 50%;
}
.count-case{
  width: 100px;
  height: 30px;
  margin-right: 20px;
  border-radius: 10px;
  color: wheat;
  border: solid 1px wheat;
  background: none;
}
.cross-case{
  text-decoration: line-through;
  list-style-type: none;
  color: rgb(114, 118, 122);
}
.cross-case::before{
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgb(114, 118, 122);
}
.back-popup {
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #0d0d0d65;
}
.popup{
  width: 780px;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  top: 26%;
  left: 26%;
  color: wheat;
  position: absolute;
  background: #1e1f25;
}