<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&family=PT+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../global.css" />
  <link rel="stylesheet" href="./todo.css" />
</head>

<body>
  
  <div class="slide d-fl ali-cent fl-col">
    <div class="banner d-fl ali-cent just-cont-cent">
      <img style="width: 22px; height: 36px; margin: 20px" src="../pictures/rocket.svg" />
      <h1 style="font-size: 55px">
        <span  class="blue">to</span>
        <span class="purple">do</span>
      </h1>
    </div>
    <div class="container">
      <div class="jc-row">
        <input id="taskInput" class="todoInput grey border-none border-radi col-white" type="text"
          placeholder="Adicione uma nova tarefa" />
        <button onclick="addTask()" class="col-white back-blue border-radi Cliar-batton border-none cursor-p ">
          Criar <img class="vertical-aline-mid" src="../pictures/plus.svg" />
        </button>
      </div>
      <div class="todos d-fl just-sp-betw">
        <p class="blue">Tarefas criadas</p>
        <p class="purple">Concluídas</p>
      </div>
      <div class="todo grey border-radi  ali-cent fl-row  d-fl just-sp-ar">
        <div class="circle border-rad-50 cursor-p "></div>
        <span id="taskList" class="col-white" style="font-size: 15px;">
          Integer urna interdum massa libero auctor neque turpis turpis
          semper. Duis vel sed fames integer.
        </span>

        <img class="cursor-p" src="../pictures/trash.svg" />
      </div>
    </div>
  </div>
  <script>
    let tasks = [];

    function addTask() {
      let taskInput = document.getElementById("taskInput");
      let taskText = taskInput.value;

      if (taskText !== "") {
        tasks.push(taskText);

        taskInput.value = "";

        updateTaskList();
      }
    }

    function updateTaskList() {
      let taskList = document.getElementById("taskList");
      taskList.innerHTML = "";

      tasks.forEach(function (task) {
        let listItem = document.createElement("li");
        listItem.textContent = task;
        taskList.appendChild(listItem);
      });
    }
  </script>
</body>

</html>