body{
    margin: 0;
    padding: 0;
}
.slide{
    width: 100%;
    height: 100vh;
    background: #1A1A1A;        
}
.d-fl{
    display: flex;
}
.ali-cent{
    align-items: center;
}
.just-cont-cent{
    justify-content: center;
}
.just-sp-betw{
    justify-content: space-between;
}
.just-sp-ar{
    justify-content: space-around;
}
.fl-col{
    flex-direction: column;
}
.fl-row{
    flex-direction: row;
}
.border-radi{
    border-radius: 10px;
}
.border-rad-50{
    border-radius: 50%;
}
.border-none{
    border: none;
}
.noSpace{
    letter-spacing: 0;
}
.cursor-p{
    cursor: pointer;
}
.blue{
    color: #4ea8de;
}
.back-blue{
    background: #1E6F9F;
}
.purple{
    color: #5e60ce;
}
.grey{
    background: #262626;
}
.col-white{
    color:white;
}
.vertical-aline-mid{
    vertical-align: middle;
}